---
---

@import "{{ site.theme }}";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.container-lg {
  max-width: 1012px;
  margin-right: auto;
  margin-left: auto;
}

.markdown-body {
  font-size: 16px;
  line-height: 1.5;
}

h1, h2, h3 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

a {
  color: #0366d6;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}