name: Auto Commit Changes

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: '*/30 * * * *'  # Her 30 dakikada bir çalışır

jobs:
  auto-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      - name: Setup Git Config
        run: |
          git config --global user.name 'GitHub Actions Bot'
          git config --global user.email 'actions@github.com'
      
      - name: Check for Changes
        run: |
          if [[ -n $(git status -s) ]]; then
            echo "Changes detected"
            git add .
            git commit -m "auto: Automated deployment update [skip ci]"
            git push
          else
            echo "No changes detected"
          fi